$color-primary: red; 
$color-secondary: blue; 
$color-tertiary: green;

div{     
    border: 1px solid $color-primary;

    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
        h1{
            display: flex;
            justify-content: center;
            text-decoration: underline;
            text-underline-offset: 8px;

            color: $color-tertiary;
            text-decoration-color: $color-secondary;
        }                
} 

section:first-of-type{
    display: flex;
}

article{
    border: 1px solid;   
    padding: 15px;
}

p{
    text-align: center;
}

@mixin article-prop($color: $color-tertiary,  $border-color: $color-tertiary, $font-size: 1rem ) {
    color: $color; 
    border-color: $border-color;
    font-size: $font-size;
}

.card>article{
    @include article-prop();
    border: 1px solid;   
    padding: 10px;
    p.pair-one{
         @include article-prop($color-secondary);
    }
    p.pair-two{
        @include article-prop($color-primary);
   }
}

.footer>article{
    @include article-prop($color-tertiary, $color-secondary, 24px);
}


