@use "modules/module.scss" as m;
@use "modules/function.scss" as func;

.div{     
    border: func.rem(1)solid m.$color-primary;
    padding:func.rem(15);
    display: flex;
    flex-direction: column;
    gap: func.rem(15);
    
       & .h1{
            display: flex;
            justify-content: center;
            color: m.$color-tertiary;

            text-decoration: underline;
            text-underline-offset: func.rem(8);
            text-decoration-color: m.$color-secondary;
        }     
        
        & .h2{
            @extend .h1;
            text-decoration: none;
            border: 1px solid m.$color-primary;
            padding: 1rem;
            margin: auto;
        }
}

section:first-of-type{
    display: flex;
}

article{
    border: func.rem(1) solid;   
    padding: func.rem(10);
}

p{
    text-align: center;
}

@mixin article-prop($color: m.$color-tertiary,  $border-color: m.$color-tertiary, $font-size: m.$font-size ) {
    color: $color; 
    border-color: $border-color;
    font-size: $font-size;
}

.card>article{
    @include article-prop();
    border: func.rem(1) solid;   
    padding: func.rem(10);
    p.pair-one{
         @include article-prop(m.$color-secondary);
    }
    p.pair-two{
        @include article-prop(m.$color-primary);
   }
}

.footer>article{
    @include article-prop(m.$color-tertiary, m.$color-secondary, func.rem(24));
}

.box-number{
    display: flex;
    justify-content: center;
    gap: func.rem(15);  
}

.box-number > div{
    width: func.rem(45) ;
    height: func.rem(45);
}

/* Flow control */
@for $var from 1 to 20 {
    .box-number div:nth-child(#{$var}){
        @if $var == 10 {
            background-color: blue;
            color: red;
        }@else{
        background-color: darken(#fff, $var * 5%);
        color: lighten(#000, $var * 5% )}
    };    
}

$sizes: 1, 2, 3;

@each $var in $sizes {
    .fs-#{$var}rem{
        font-size: func.rem(calc($var*16));
      }
}

  










